<div style="margin-top: 20px">
  <div class="box" *ngFor="let g of groups">
    <article class="media">

      <div class="media-content">
        <div class="content">
          <p>Category ID: {{g.category}} | Level: {{g.level}} | Language: {{g.language}} | Count: {{g.count}}</p>
        </div>
      </div>
    </article>
  </div>

</div>
