<div class="columns">
  <div class="column is-6-desktop">
    <h3>New exams</h3>
    <p class="help">All exams that have not been taken yet.</p>
    <app-exam-list [type]="'new'" [predicate]="predicate" [exams]="exams" (deleted)="onDeleted($event)" [configurations]="configurations" [users]="users"></app-exam-list>

  </div>

  <div class="column is-6-desktop">
    <h3>Create new exam assignment</h3>

    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()" novalidate>


      <div class="field">
        <label class="label">Examinee</label>
        <div class="control">
          <input class="input" type="text" placeholder="Examinee" formControlName="examinee">
        </div>
        <p class="help is-success" *ngIf="id">Email is valid</p>
      </div>

      <div class="field">
        <label class="label">Configuration</label>
        <div class="control">
          <ng-select [items]="configurations"
                     bindLabel="name"
                     autofocus
                     bindValue="id"
                     placeholder="Select Configuration"
                     formControlName="configurationId">
          </ng-select>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-link" type="submit" [disabled]="!id">Save</button>
        </div>
        <div class="control">
          <button class="button is-text" type="reset" (click)="revert()" [disabled]="reviewForm.pristine">Revert</button>
        </div>
      </div>

    </form>
  </div>

</div>
