<div class="container" style="padding: 10px;">

  <h3>Create Configuration</h3>


  <div class="columns">
    <div class="column">
      <h4>Add Description</h4>


      <form [formGroup]="configForm" novalidate>

        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="Name" formControlName="name">
          </div>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <textarea class="textarea" placeholder="Description" formControlName="description"></textarea>
          </div>
        </div>

      </form>

    </div>

    <div class="column">
      <h4>Add Groups</h4>
      <app-conf-creator [configInfo]="configInfo" (group)="passGroup($event)"></app-conf-creator>
    </div>
  </div>

  <div class="columns">
    <div class="column">

      <app-conf-group [groups]="groups"></app-conf-group>


      <hr>

      <div class="field is-grouped">
        <div class="control">
          <button class="button is-success" type="submit" (click)="onSubmit()">Save Configuration</button>
        </div>
        <div class="control">
          <button class="button is-text" type="reset" (click)="revert()">Revert</button>
        </div>
      </div>
    </div>
  </div>






</div>
