<nav class="navbar is-link" role="navigation" aria-label="main navigation" >
  <!-- style="margin-right: 1em; margin-left: 1em;" -->
  <div class="navbar-brand">
    <span class="navbar-item">
      Configuration Management
    </span>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" [routerLink]="['/exam']">
        Exam assignments
      </a>
      <a class="navbar-item" [routerLink]="['/results']">
        Exam Results
      </a>
      <a class="navbar-item" [routerLink]="['']">
        Configuration creator
      </a>
      <a class="navbar-item" [routerLink]="['/configurations']">
        Configurations
      </a>




    </div>

    <div class="navbar-end">
      <div class="navbar-item">

        <div class="navbar-item">
          <div class="dropdown is-right is-info is-outlined" [ngClass]="{'is-active': active == true}" (click)="toggleActive()">
            <div class="dropdown-trigger">
              <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>{{userData.firstName}} {{userData.lastName}}</span>
                <span class="icon is-small">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
              <div class="dropdown-content">
                <a href="#" class="dropdown-item" href="http://qms-demo.myicpc.live" *ngIf="isAdmin">
                  Question Management
                </a>
                <a class="dropdown-item" href="http://ems-demo.myicpc.live" *ngIf="isAdmin">
                  Exam Management
                </a>
                <a class="dropdown-item" href="http://ums-demo.myicpc.live/profile">
                  Profile
                </a>
                <hr class="dropdown-divider">
                <a class="dropdown-item" (click)="signout()">
                  Sign out
                </a>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="buttons">-->

          <!--<a class="button is-light is-outlined" href="http://qms-demo.myicpc.live" *ngIf="isAdmin">-->
            <!--QMS-->
          <!--</a>-->
          <!--<a class="button is-light is-outlined" href="http://ems-demo.myicpc.live" *ngIf="isAdmin">-->
            <!--EMS-->
          <!--</a>-->
          <!--<a class="button is-light is-outlined" href="http://ums-demo.myicpc.live/profile">-->
            <!--Profile-->
          <!--</a>-->
          <!--<a class="button is-primary" (click)="signout()">-->
            <!--Sign out-->
          <!--</a>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</nav>
